# This workflow performs a static analysis of your Kotlin source code using Detekt.
#
# Scans are triggered:
# 1. On every push to default and protected branches
# 2. On every Pull Request targeting the default branch
# 3. Manually, on demand, via the "workflow_dispatch" event

name: Scan with Detekt

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1

    - name: Setup Java
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # 5.0.0
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      with:
        gradle-home-cache-cleanup: true

    # Performs static analysis using Detekt
    - name: Run Detekt
      run: ./gradlew detekt

    # Uploads results to GitHub repository using the upload-sarif action
    - name: Upload detekt results
      uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047 # v4.30.9
      if: always()
      with:
        # Path to SARIF file relative to the root of the repository
        sarif_file: ${{ github.workspace }}/app/build/reports/detekt/detekt.sarif
        checkout_path: ${{ github.workspace }}
